<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
  <div class="container px-5">
    <%= link_to home_path, class: "navbar-brand" do %>
      <p class="fw-bolder h1">Tanya Lathion</p>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
        <%= link_to home_path, class: "nav-item" do %>
          <p class="nav-link">Home</p>
        <% end %>
        <%= link_to about_path, class: "nav-item" do %>
          <p class="nav-link">Resume</p>
        <% end %>
        <%= link_to projects_path, class: "nav-item" do %>
          <p class="nav-link">Projects</p>
        <% end %>
        <%= link_to contact_path, class: "nav-item" do %>
          <p class="nav-link">Contact</p>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
