---
import Base from '../layouts/Base.astro'
import Window from '../components/organisms/Window.astro'
import DesktopIcon from '../components/atoms/DesktopIcon.astro'
import { getCollection } from 'astro:content'
import Case from '../components/organisms/windows/Case.astro'
import About from '../components/organisms/windows/About.astro'
import Contact from '../components/organisms/windows/Contact.astro'
import Oldies from '../components/organisms/windows/Oldies.astro'
import MobileShell from '../components/organisms/MobileShell.astro'
import MobileIcon from '../components/atoms/MobileIcon.astro'
import MobileScreen from '../components/atoms/MobileScreen.astro'

const workItems = (await getCollection('work'))
  .sort((a, b) => Number(b.data.year) - Number(a.data.year))
---

<Base title="Tanya Lathion">

  <div class="desktop-icons">
  <div class="desktop-icons__row">
    {workItems.map(item => (
      <DesktopIcon
        label={item.data.title}
        windowId={`win-${item.id}`}
        icon="document"
      />
    ))}
  </div>
  <div class="desktop-icons__row">
    <DesktopIcon label="About" windowId="win-about" icon="folder" />
    <DesktopIcon label="Contact" windowId="win-contact" icon="folder" />
    <DesktopIcon label="Oldies" windowId="win-oldies" icon="folder" />
  </div>
</div>

  {workItems.map((item, i) => (
  <Window title={item.data.title} id={`win-${item.id}`} x={120 + i * 30} y={60 + i * 30} width={640} hidden={true}>
    <Case item={item} />
  </Window>
))}

<Window title="About" id="win-about" x={200} y={60} width={560} hidden={true}>
  <About />
</Window>

<Window title="Contact" id="win-contact" x={300} y={80} width={400} hidden={true}>
  <Contact />
</Window>

<Window title="Oldies" id="win-oldies" x={150} y={70} width={740} hidden={true}>
  <Oldies />
</Window>

<Fragment slot="mobile">
  <MobileShell>
    <Fragment slot="icons">
      {workItems.map(item => (
        <MobileIcon label={item.data.title} screenId={`mob-${item.id}`} icon="document" />
      ))}
      <MobileIcon label="Oldies" screenId="mob-oldies" icon="photo" />
    </Fragment>

    <Fragment slot="screens">
      {workItems.map(item => (
        <MobileScreen id={`mob-${item.id}`}>
          <Case item={item} />
        </MobileScreen>
      ))}
      <MobileScreen id="mob-about">
        <About />
      </MobileScreen>
      <MobileScreen id="mob-oldies">
        <Oldies />
      </MobileScreen>
      <MobileScreen id="mob-contact">
        <Contact />
      </MobileScreen>
    </Fragment>

    <Fragment slot="dock">
      <MobileIcon label="About" screenId="mob-about" icon="person" />
      <MobileIcon label="Contact" screenId="mob-contact" icon="mail" />
      <a href="https://github.com/tanyalathion" target="_blank" class="mobile-dock-link">
        <div class="mobile-icon__img">
          <iconify-icon icon="pixelarticons:github" width="44"></iconify-icon>
        </div>
        <span class="mobile-icon__label">GitHub</span>
      </a>
      <a href="https://linkedin.com/in/tanya-lathion" target="_blank" class="mobile-dock-link">
        <div class="mobile-icon__img">
          <iconify-icon icon="pixelarticons:link" width="44"></iconify-icon>
        </div>
        <span class="mobile-icon__label">LinkedIn</span>
      </a>
    </Fragment>

  </MobileShell>
</Fragment>
</Base>