---
import Base from '../layouts/Base.astro'
import Window from '../components/organisms/Window.astro'
import DesktopIcon from '../components/atoms/DesktopIcon.astro'
import { getCollection } from 'astro:content'

const workItems = (await getCollection('work'))
  .sort((a, b) => Number(b.data.year) - Number(a.data.year))
---

<Base title="Tanya Lathion">

  <div class="desktop-icons">
  <div class="desktop-icons__row">
    {workItems.map(item => (
      <DesktopIcon
        label={item.data.title}
        windowId={`win-${item.id}`}
        icon="document"
      />
    ))}
  </div>
  <div class="desktop-icons__row">
    <DesktopIcon label="About" windowId="win-about" icon="folder" />
    <DesktopIcon label="Contact" windowId="win-contact" icon="folder" />
    <DesktopIcon label="Oldies" windowId="win-oldies" icon="folder" />
  </div>
</div>

  {workItems.map(item => (
    <Window
      title={item.data.title}
      id={`win-${item.id}`}
      x={120}
      y={80}
      width={640}
      hidden={true}
    >
      <p>{item.data.subtitle}</p>
    </Window>
  ))}

  <Window title="About" id="win-about" x={200} y={100} width={500} hidden={true}>
    <p>About content here</p>
  </Window>

  <Window title="Contact" id="win-contact" x={300} y={120} width={400} hidden={true}>
    <p>Contact content here</p>
  </Window>

  <Window title="Oldies" id="win-oldies" x={150} y={90} width={700} hidden={true}>
    <p>Oldies content here</p>
  </Window>

</Base>